.contact {
  min-height: 95vh;
  color: aliceblue;
}
.contact h2{
  font-size: 1.3rem;
  font-weight: 500;
}
.contact section>h2{
  padding-bottom: 0.7rem;
}
.contact section{
  padding-bottom: 1rem;
}
.contact p{
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
}
.contact ul{
  padding-left: 1.3rem;
}
.contact li{
  padding-bottom: 0.5rem;
}
.contact p:last-child{
  padding-top: 0.5rem;
}
form>div{
  display: flex;
  gap: 20px;
  padding-bottom: 1rem;
}
.contact input, textarea{
  border: none;
  color: aliceblue;
  padding: 5px;
  border-radius: 3px;
}
.darkB{
  background-color: #e32323;
}
.lightB{
  background-color: #2bbfec;
}
.contact button{
  border: none;
  color: black;
  padding: 5px 10px;
  color: aliceblue;
  border-radius: 3px;
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}

@media screen and (max-width:575px) {
  .contact{
      padding: 8rem 32px 1rem 32px;
  }
}
@media screen and (min-width:576px) {
  .contact{
      padding: 8rem 64px 1rem 64px;
  }
}
@media screen and (min-width:768px) {
  
}
@media screen and (min-width:992px) {
  .contact{
      padding: 8rem 120px 1rem 120px;
  }
}
